.event {
	border-top: 1px solid #ccc;
	margin: 3em 0 0 0;
	padding-top: 3em!important;
	.event__name {
		margin-bottom: 0.7em;
		font-weight: 700;
		font-size: 2em;
	}
	.event__image {
		margin-bottom: 1em;
		img {
			min-width: 100%;
			max-width: 100%;
			display: block;
			height: auto;
		}
	}
	.event__description {
		margin-bottom: 1.5em;
		p {
			padding: 0.5em 0;
			font-size: 1.25em;
			line-height: 1.7em;
		}
	}
	.event__doorTime,
	.event__startDate,
	.event__endDate,
	.event__location,
	.event__sponsor,
	.event__audience {
		margin-bottom: 0.7em;
		span {
			font-weight: 700;
		}
	} 
	.event__fulltext-link {
		button {
			
    	}
	}
	.l-fulltext {
		.event__image {
			img {
			}
		}
	}
}


/* End of file */
/*-------------*/