section {
	&.review {
		position: relative;
		min-height: 40vh;
		background: #000;
		color: #fff;
		grid-column: 1 / span 5;
		@media screen and (min-width: 768px) {
			min-height: 350px;
		}
		blockquote {
			font-size: 1.275em;
			padding:1em 1.5em;
			margin:0px;
			z-index: 2;
			.review__itemReviewed {
			    padding: 0 0 1em;
			    font-size: 15px;
			    font-weight: 700;
			    display: none; 
			}
			.review__reviewBody {
			   	font-size: 24px;
			}
			.review__reviewAspect {
			    text-transform: uppercase;
			    font-weight: 700;
			    font-size: 13px;
			    padding: 0.4em;
			    border: 1px solid #febe00;
			    display: inline-block;
			    color: #fff;
			    letter-spacing: 1px;
			    margin-bottom: 5em;
			    @media screen and (min-width: 768px) {
					margin-bottom: 2em;
				}
			}
			p {				
				position: relative;
				&:before {
					color: rgba(255,255,255,.3);
	    			content: open-quote;
	    			position: absolute;
	    			font-size: 3em;
	    			left: -.375em;
	    			top: .35em;
	    		}
	    		&:after {
	    			content: close-quote;
	    			color: rgba(255,255,255,.3);
	    			position: absolute;
	    			font-size: 3em;
	    			bottom: 0em;
	    		}
	    	}
	    	a:link, a:visited {
	    		color:#fdc632;
	    		border-bottom: none;
	    	}
	    	a:hover, a:focus {
	    		color:#ffffff;
	    		border-bottom: 1px solid #fdc632;
	    	}
			@media screen and (min-width: 768px) {
				width: 50%;
				padding: 2em 4em 1em 4em;
			}
			*:last-child {
				border-bottom:1px solid #fdc632;
			}
		}
		cite {
		    width: 50%;
		    padding: 2.1em;
		    z-index: 2;
		    display: grid;
		    grid-template-columns: auto auto auto 1fr;
			.review__author-honorificPrefix {
				grid-area: review__author-honorificPrefix;
				grid-row: 1;
				grid-column: 1;
				font-style: normal;
				padding-bottom: 0.3em;
				font-weight: 700;
			}
			.review__author-givenName {
				grid-area: review__author-givenName;
				grid-row: 1;	
				grid-column: 2;	
				font-style: normal;
				padding-bottom: 0.3em;
				font-weight: 700;
			}
			.review__author-familyName {
				grid-area: review__author-familyName;
				grid-row: 1;
				grid-column: 3;
				font-style: normal;
				padding-bottom: 0.3em;
				font-weight: 700;
			}
			.review__author-honorificSuffix {
				grid-area: review__author-honorificSuffix;
				grid-row: 1;
				grid-column: 4;
				font-style: normal;
				padding-bottom: 0.3em;
				font-weight: 700;
			}
			.review__author-jobTitle {
				grid-area: review__author-jobTitle;	
				grid-row: 2;
				grid-column: 1 / span 4;	
				padding-bottom: 0.3em;	
			}
			.review__author-affiliation {
				grid-area: review__author-affiliation;
				grid-row: 3;
				grid-column: 1 / span 4;
				padding-bottom: 0.3em;
			}
			@media screen and (min-width: 768px) {
				padding: 1.5em 1.5em 2.5em 5em;
			}
		}
		.review__image {
			@media screen and (min-width: 768px) {
				-webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  				clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  			}
			min-height: 30vh;
			height: 100%;
			background-size: cover;
			background-position: center;
			@media screen and (min-width: 768px) {
				width: 50%;
				position:absolute;
				top:0px;
				right: 0px;
			}
		}
	}
}



/*-------------*/
/* End of file */