.panel-group {
    .panel+.panel {
        margin: 0;
        padding: 0
    }
    .panel-default {
        margin: 0;
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #f9f9f9;
        .panel-body {
            padding:0;
            max-height:0;
            overflow:hidden;
            border: none;
            transition: all .3s;
            .panel-body__content {
                padding:1em;
            }
        }
        .panel-heading {
            padding: 0;
            border-radius: 0;
            color: #212121;
            border-bottom: 1px solid #d5d5d5;
            .panel-title {
                margin: 0;
                font-size: 1.2em;
                background: #fff;
                button {
                    margin:0;
                    border:0;
                    text-align:left;
                    position:relative;
                    width:100%;
                    display:block;
                    padding:1em 2em 1em .5em;
                    .panel-title__toggle {
                        float:right;
                        line-height:1.5em;
                        span {
                            position: absolute;
                            width: 1px;
                            height: 1px;
                            padding: 0;
                            margin: -1px;
                            overflow: hidden;
                            clip: rect(0,0,0,0);
                            border: 0;
                        }
                    }
                    &:hover {
                        color:#d43900;
                        background:none;
                        padding-left:1.5em;
                    }
                    &:before {
                        content: "+";
                        position: absolute;
                        font-size: 1.7em;
                        right: 0.4em;
                        display: block;
                        top: 0.3em;
                        bottom: 0;
                    }
                }
                &:active {
                    color:#000;
                    background:none;
                }
            }
        }
        &.is-expanded {
            .panel-heading {
                .panel-title {
                    a {
                        background:transparent;
                        &:before {
                            content: '-';
                        }
                    }
                }
            }
            .panel-body {
                height:auto;
                overflow-y: auto;
                max-height:1500px;
            }
        }
        .panel-body__content {
            section {
                h2 {
                    margin-top: .2em;
                }
                &.content-primary {
                    padding:0;
                }
            }
        }
    }
}



/*-------------*/
/* End of file */