// _primaryContent.scss sets defaults 
// Now override or add missing classes

.news-article {
 	margin-bottom: 2em;
	border-bottom: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	.news-article__author, 
	.news-article__articleSection, 
	.news-article__audience {
		span {
			font-weight: bold;
		  	margin: 0 0.4em 0.4em 0;
		  	display: inline-block;
		}
	}
	.news-article__image {
		margin:1em;
		height:100%;
		@media (min-width: 768px) {
			float:right;
			max-width:25%;
			margin:0 0 1.2em 1.5em;
		}
	}
	.news-article__headline {
		font-size: 1.5em;
		padding-bottom: 0.5em;
	}
	.news-article__datePublished {
		font-style: italic;
		margin-bottom: 1em;
	}
	.news-article__description {
		font-size: 1em;
   		line-height: 1.5em;
   		margin: 1em 0;
   		font-style:italic;
	}
	.news-article__fulltext-link {
		button {
			
    	}
	}
	&.l-fulltext {
		.news-article__image {
			float:right;
			padding:1em;
			@media (min-width: 768px) {
		        padding: 0;
		        margin: 1em 0 2em 2.5em;
		        max-width: 55%;
		        width:55%;
		    }
		}
		.news-article__headline {
			h2 {
			 	font-size: 1.5em;
			 	font-weight: 700;
			}			
		   @media (min-width: 768px) {
	   		font-size:2em;
		   }
		}
		.news-article__datePublished {
			font-weight: 700;
			font-style: normal;
			color: #007eb5;
			padding: 0;
			margin: 0 0 1.5em 0;
		}
		.news-article__description {
		   	font-style: normal;
			font-size: 1.3em;
			font-weight: 300;
			border-bottom: 1px solid #ccc;
			padding: 0 0 1em 0;
			margin: 0 0 1em 0;
			line-height: 1.5em;
		}
		.news-article__articleBody {
			padding:0;
		}
	} 
}

//-------------//
// End of file //