/* Custom Swiper Stylings */
.swiper-container {
	min-width: 100%;
	max-width:100%;
	margin:0;
	grid-column-start: 1;
	grid-column-end: span 5;
	h2 {
		&.swiper-heading {
			text-align:center;
		}
	}
	&.swiper__news {
		padding-right:2em;
		padding-left:2em;
		margin-bottom:2em;
		.swiper-slide {
			padding:1em;
		}
		.news-article__image {
			display:none;
		}
		.news-article__headline {
			font-weight:700;
			font-size:1.25em;
			padding:.5em 0;
		}
		.news-article__fulltext-link {
			button {
				background:none;
				border:none;
				a {
					color:#007eb5;
					font-weight:700;
					text-transform:uppercase;
					padding:1em 0;
					&:hover,
					&:active,
					&:focus {
						background:none;
						text-decoration:underline;
					}
				}
			}
		}
		.news-article__datePublished {
			font-size:.875em;
			color:#007eb5;
			margin: 1em 0 0.5em 0;
			font-weight:700;
		}
		.news-article__description {
			padding:.5em 0;
		}
	}
	&.swiper__events {
		padding-right:2em;
		padding-left:2em;
		margin-bottom:2em;
		.swiper-slide {
			padding:1em;
		}
		.event__image {
			display:none;
		}
		.event__name {
			font-weight:700;
			font-size:1.25em;
			padding:.5em 0;
		}
		.event__disambiguatingDescription {
			padding:.5em 0;
		}
		.event__startDate {
			color:#007eb5;
			font-size:.875em;
			padding:1em 0 .5em 0;
			font-weight:700;
		}
		.event__fulltext-link {
			button {
				background:none;
				border:none;
				a {
					color:#007eb5;
					font-weight:700;
					text-transform:uppercase;
					padding:1em 0;
					:hover,
					&:active,
					&:focus {
						background:none;
						text-decoration:underline;
					}
				}
			}
		}
	}
	&.swiper__image-objects {
		padding:0;
		h2 {
			&.swiper-heading {
				display:none;
			}
		}
		.swiper-slide {
			img {
				max-width:100%;
				width: 100% !important;
			}
		}
		.slider-content__image {
			height:40vh;
			background-size:cover;
			background-position:center;
			@media (min-width: 768px) {
  				height:787px;
			}
		}
		.slider-content {
			position:relative;
			bottom:0px;
			left:0;
			background:rgba(0,0,0,1);
			color:#fff;
			padding:1.75em;
			a {
				color:#fff;
				&:hover {
					text-decoration:none;
				}
			}
			h2 {
				text-align:initial;
				color:#f9b801;
				border-bottom:1px solid rgba(255,255,255,.8);
				margin:0;
			}
			p {
				strong {
					font-size: 1.6em;
				}
			}
			.t4_button {
				font-size: 0.95em;
				color: #fff;
				background: rgba(0,0,0,0.9);
				border: 1px solid gold;
				padding: 0.5em 1.2em;
				margin-top: 0.5em;
				display: inline-block;
				&:hover {
					color: #020202;
  					background: #ffba00;
  					border: 1px solid #ffba00;
  				}
			}
			@media screen and (min-width: 768px){
				left:6em;
			}
		}
		@media screen and (min-width: 768px){
			.slider-content {
				position:absolute;
				left:2em;
				background:rgba(0,0,0,.7);
				max-width:40%;
			}
		}
	}
	.swiper-button-next {
		background:none;
		right:.8em;
		&:before {
			border:2px solid #fff;
			border-width:0 2px 2px 0;
			padding:.75em;
			content: '';
			display:block;
			-webkit-transform: rotate(-45deg);
        	-moz-transform: rotate(-45deg);
        	-o-transform: rotate(-45deg);
        	transform: rotate(-45deg);
        	right:0;
        	position:relative;
		}
		&:after {
			border:2px solid #000;
			border-width:0 2px 2px 0;
			padding:.75em;
			content: '';
			top:calc(-1.5em - 2px);
			position:relative;
			margin:0;
			display:block;
			right:calc(.125em + 1px);
			-webkit-transform: rotate(-45deg);
        	-moz-transform: rotate(-45deg);
        	-o-transform: rotate(-45deg);
        	transform: rotate(-45deg);
		}
	}
	.swiper-button-prev {
		background:none;
		left:.3em;
		&:before {
			border:2px solid #fff;
			border-width:0 2px 2px 0;
			padding:.75em;
			content: '';
			display:block;
			-webkit-transform: rotate(135deg);
        	-moz-transform: rotate(135deg);
        	-o-transform: rotate(135deg);
        	transform: rotate(135deg);
        	left:.5em;
        	position:relative;
		}
		&:after {
			border:2px solid #000;
			border-width:0 2px 2px 0;
			padding:.75em;
			content: '';
			top:calc(-1.5em - 2px);
			position:relative;
			margin:0;
			display:block;
			left:calc(.5em + 2px);
			-webkit-transform: rotate(135deg);
        	-moz-transform: rotate(135deg);
        	-o-transform: rotate(135deg);
        	transform: rotate(135deg);
		}
	}
	.swiper-pagination-bullet {
	    width: 10px;
	    height: 10px;
	    display: inline-block;
	    border-radius: 100%;
	    background: #000;
	    opacity: 0.5;
	    border: 1px solid #fff;
	    &.swiper-pagination-bullet-active {
    		opacity: 1;
    		background: #ffba00;
		}
	}
}

/*-------------*/
/* End of file */