/* =================================================
   Data object person
   ================================================= */

.person {
    &:first-of-type:not(.l-fulltext) {
    	padding-top: 5%;
    }
    background: #fff;
    border-bottom: 1px solid #ccc;
	overflow: hidden;
	img {
	    margin: 2em auto;
	    display: block;

	    @media (min-width: 768px) {
	    	float: right;
		    margin: 0 0 2em 2em;
		    max-width: 200px;
	    }
	}
	.person-details {
		padding: 3em 2em;
	}
	.person__jobTitle, .person__affiliation, 
	.person__email, .person__worksFor, 
	.person__disambiguatingDescription, 
	.person__fulltext-link, 
	.person__name {
		margin: 0.5em 0 1em 0;
		width: 100%;
	}
	.person__name {
		font-size: 1.8em;
		margin-top: 1em;

		@media (min-width: 769px) {
	    	margin-top: 0;
	    }
	}
	span {
		font-weight:bold;
	}
} // END .person

// End of file //
// ----------- //