.tab-group {
	padding-top:2em;
	ul.tabs {
		margin:1em 0 0 0;
		padding:0;
		li.tabs__tab {
			display:inline-block;
			margin:0px;
			button {
				padding: 1.5em 3em;
				border-radius: 0px;
				border-top: 1px #555 solid;
				border-right: 1px #999 solid;
				border-left: 1px #999 solid;
				border-bottom:0px;
				margin:0px;
				background:#555;
				color:#fff;
				&:hover {
					background:#000;
				}
			}
			&.is-active {
				position:relative;
				button {
					border-radius: 0px;
					border-bottom:1px solid #fff;
					border-top:1px solid #fff;
					margin:0px;
					background:#fff;
					color:#555;
					margin-bottom:-1px;
					&:hover {
						text-decoration:underline;
						background: #fff;
					}
					&:focus {
						outline-bottom:0px;
					}
					&:before {
						position:absolute;
						content:'';
						height:.5em;
						width:100%;
						top:-.5em;
						left:0px;
						background: #ffba00;

					}
				}
			}
		}
	}
	.tabs__tab-body {
		border:1px solid #ababab;
		display:none;
		&.is-active {
			display:block;
		}

	}
	&.is-active {
		.tabs__tab-body {
			display:block;
			transition: all 1s;
		}
	}
}

/*-------------*/
/* End of file */