/* =================================================
   Data object image
   ================================================= */
section {
	&.image-object {
		position:relative;
		img {
			width:100%;
			height:auto;
			display:block;
		}
		.image-object__text {
			@media (min-width: 768px) {
				position:absolute;
				max-width:40%;
			}
			bottom:0px;
			left:0%;
			
			background:rgba(0,0,0,.7);
			padding:2em;
			color:#ffffff;
		}
		&.image-object__representativeOfPage {
			grid-column-start: 1;
			grid-column-end: span 5;
		}
	}
}

// End of file //
// ----------- //