@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: $screen-sm-min) {
      @content;
    }
  }

  @if $point == md {
    @media (min-width: $screen-md-min) {
      @content;
    }
  }

  @if $point == lg {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  }
}