.page-main {
	aside {
		&.content-secondary {
			.content-secondary__content {
				padding:1.5em;
				// <A> links are in Theme/Elements
				p {

				}
				h1,h2,h3,h4,h5,h6 {
					color:#fff;
					line-height:1.5em;
					margin:.5em 0;
				}
				h1 {
					
				}
				h2 {

				}
				h3 {
					margin:1em 0 .75em 0;
				}
			}
		}
		.l-wrapper {
   			background:#007eb5;
   			border-radius: 0 1em 0 1em;
  			color:#ffffff;
  			@media screen and (min-width: 768px) {
  				margin-top:3em;
  				border-radius: 0 1em 1em 0;
  			}
		}
		@media screen and (min-width: 768px) {
			border-left: 1px solid #dedede;
		}
		h2 {
			border-bottom:1px solid #ffffff;
		}
	}
}

/*-------------*/
/* End of file */