/*------------- Override CSS for T4 goes here ----------*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background: #f1f3f4;
}

h1 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Merriweather, serif;
  font-size: 2.625em;
  line-height: 1.1em;
  font-weight: 400;
}

h2 {
  margin: 1.5em 0 0.3em 0;
  font-weight: 400;

  &:first-of-type {
    margin-top: 1.5em;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1.3;
}

h4, h5, h6 {
  color: rgba(0, 0, 0, 0.87);
}

/* Layout
-----------------------------------*/
.content-primary,
.news-article__fulltext,
.news-article,
.event__fulltext,
.event-details,
.person-details {
  padding: 0 2em 2em 2em;
}

.content-primary ul,
.news-article__fulltext ul,
.news-article ul,
.event__fulltext ul,
.event-details ul,
.person-details ul {
  margin-top: 1em;
  padding-inline-start: 50px;
}

.content-primary ol,
.news-article__fulltext ol,
.news-article ol,
.event__fulltext ol,
.event-details ol,
.person-details ol {
  margin-top: 1em;
}

/* Content
-----------------------------------*/
.page-main {
  background: #FFFFFF;
  border: solid 1px #FAFAFA;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 2em auto;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 1400px) {
    margin: 2em 1.5em;
  }
}

.page-main a {
  border-bottom: 1px dotted #007E00;
  font-weight: 500;
  color: #80225f;
}

.page-main a:hover {
  color: #000000;
  font-weight: 500;
  border-bottom: 1px solid #007E00;
}

.page-main a:visited {
  font-weight: 500;
}

.page-main a:link {
  border-bottom: 1px dotted #007E00;
  font-weight: 500;
  color: #80225f;
}

.page-main .content-primary__content h1 {
  font-family: Merriweather, serif;
  font-size: 2.625em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.page-main .content-primary__content h2 {
  font-family: Merriweather, serif;
  font-size: 2em;
  color: #454545;
  margin: 1.25em 0 0.5em;
  padding-left: 0.5em;
  border-left: 8px solid #F8B300;
}

.page-main .content-primary__content h3 {
  font-family: Roboto, sans-serif;
  color: #7f255f;
  font-weight: 500;
}

.page-main .content-primary__content p {
  color: rgba(0, 0, 0, 0.87);
}

/* Aside
-----------------------------------*/
.page-main aside .l-wrapper {
  background: #FFF;
  color: rgba(0, 0, 0, 0.87);
  font-size: .9em;
  border: 1px solid #dedede;
  border-left: none;
}

.page-main aside.content-secondary .content-secondary__content h2 {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: .3em;
}

.page-main aside.content-secondary .content-secondary__content p {
  color: rgba(0, 0, 0, 0.60);
}

/* News
-----------------------------------*/
.news-article .l-gutter .news-article__image img {
  border: solid 1px #fafafa;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
}

/* Buttons 
---------------------------------*/
.page-main .t4_button,
.page-main button[type="submit"] {
  font-size: 1em;
  background: #f8b300;
  border: 2px solid #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  
  &:hover {
    background: #454545;
    border: 2px solid #FFF;
  }
}

.page-main .t4_button a {
  color: #000;
  display: block;
  border-bottom: none;
}

.panel-group .panel-default {
  background: #fff;
}

/* Back to top
-----------------------------------*/
.page-main .scrollup {
  width: 42px;
  height: 42px;
  opacity: 0.3;
  position: fixed;
  bottom: 10%;
  right: 8%;
  display: none;
  border-bottom: none;
  text-decoration: none;
  text-indent: -9999px;
  background: transparent url(http://socialwork.vcu.edu/media/school-of-social-work/images/layout/sprite.png) no-repeat scroll -80px -1px;
  z-index: 999999;

  &:active,
  &:link,
  &:hover {
    background: transparent url(http://socialwork.vcu.edu/media/school-of-social-work/images/layout/sprite.png) no-repeat scroll -80px -1px;
    border: none;
  }
}
