// BREAKPOINTS
$screen-sm-min: 768px;
$screen-md-min: 991px;
$screen-lg-min: 1232px;

// COLORS PRIMARY
$vcu-primary-gold: #F8B300;
$vcu-primary-black: #000000;
$vcu-primary-white: #FFFFFF;
$vcu-primary-gray: #444444;
$vcu-primary-gray-dark: #333333;
$vcu-primary-gray-light: #555555;

// COLORS ACCENT
$vcu-accent-blue: #006894;
$vcu-accent-purple: #80225F;
$vcu-accent-green: #007E00;
$vcu-accent-orange: #D43900;
$vcu-accent-red: #B50000;

// COLORS NEUTRAL
$vcu-neutral-mangotango: #E57200;
$vcu-neutral-tangerineyellow: #FFCE00;
$vcu-neutral-irisblue: #00B3BE;
$vcu-neutral-yukongold: #856822;
$vcu-neutral-camarone: #275E37;
$vcu-neutral-icecold: #B2E0D6;
$vcu-neutral-desertsand: #E5CBB1;
$vcu-neutral-paleleaf: #CCDBAE;