// Change the import URL 'VCUX' to the name of the new theme folder.

@import './mixins/mixins';
@import './variables';
@import './VCUX/base/base';
@import './VCUX/components/template';
@import './VCUX/objects/objects';
@import './THEME/theme';

.react-loading {
	font-size:3em;
	font-weight:700;
	color:#000;
	z-index:9999999999;
	margin:auto;
	position:fixed;
	top:50vh;
	left:calc(50vw - 5em);
}

// End of file //
// ----------- //