// Standard blockquote styling

.content-primary, 
.news-article__fulltext, 
.event__fulltext {
    blockquote {
        margin: 1em 0;
        font-size: 2em;
        font-weight: 300;
        border: 1px solid #f9b801;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        padding-bottom: 1em;
        padding: 1em 0;
        background: none;
        h3 {
          margin: 0.5em 0 0 0;
        }
        p {
          color: #000;
        }
        @media(min-width: 768px) {
          margin-left: 1.5em;
        }
    }
}