/*
Default styles for common button elements
The .T4_button class is defined in the T4 specific SCSS file (/THEME/T4/)

*/
// --------- Button theme defaults --------- //
  // Font Stack
  $font-stack: Roboto,arial,sans-serif;

  // <Button>
    $button_font-size: 1em;
    $button_color: #000000;
    $button_background-color: #ffffff;
    $button_border: 1px solid #d43900;
    $button_border-radius: 30em;
    $button_padding: .7em 1.5em;
    $button_hover-border: 1px solid #d43900;
    $button_hover-color: #ffffff;
    $button_hover-background-color: #d43900;
  
  // Link <A> inside a <button>
    $button_link-hover-color: #fff;
    $button_link-padding: .7em 1.5em;
    $button_link-margin: -.7em -1.5em;
    $button_link-base-color: #000000;
    $button_link-contrast-color: #212121;
    $button_link-background-color: #212121;

  // Secondary <ASIDE> <Button>
    $secondary-button_font-size: 1em;
    $secondary-button_color: #ffffff;
    $secondary-button_background-color: #ffffff;
    $secondary-button_padding: .7em 1.5em;
    $secondary-button_border: 1px solid #d43900;
    $secondary-button_border-radius: 30em;
    $secondary-button_hover-border: 1px solid #d43900;
    $secondary-button_hover-background-color: #d43900;
    $secondary-button_hover-color: #ffffff;
    
  // Secondary <ASIDE> Link <A> inside a <button>
    $secondary-button_link-hover-color: #fff;
    $secondary-button-link-padding: .7em 1.5em;
    $secondary-button_link-margin: -.7em -1.5em;
    $secondary-button_link-base-color: #000000;
    $secondary-button_link-contrast-color: #212121;
    $secondary-button_link-background-color: #212121;

/*-------- Button inheritence ----------*/
  %inheritence-button {
    font-family: $font-stack;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 0 1em 0;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      a {
          border:none;
      }
    }
    a {
      border:none;
      &:active {
      }
    }
    @media screen and (min-width: 768px) {
        display:inline-block;
    }
  }

/*--------- Button types --------------*/
  .page-main {
    section {
      button {
        @extend %inheritence-button;
        font-size: $button_font-size;
        color: $button_color; 
        background: $button_background-color;  
        border: $button_border;
        border-radius: $button_border-radius;
        padding: $button_padding;
        &:hover {
            color: $button_hover-color;
            background: $button_hover-background-color;
            border: $button_hover-border;
            a {
                color: $button_link-hover-color;
            }
        }
        a {
          padding: $button_link-padding;
          margin: $button_link-margin;
          display:block;
          &:active, 
          &:focus {
            background:$button_hover-background-color;
            color:$button_hover-color;
            padding:$button_link-padding;
            border-radius: $button_border-radius;
          }
        }
        &[type="submit"],
        &[type="button"],
        &[type="reset"] {
          padding: $button_padding;
          &:hover {
          }
          a {
            padding: $button_link-padding;
            margin: $button_link-margin;
          }
          @media (min-width: 768px) {
          }
        }
        &[type="disabled"]{
          color: #060606;
          background: #868686;
          border: 1px solid #060606;
          &:hover {
          background: #eaeaea;
          color: #868686;
          border-color: #868686;
        }
      }
    }
  }
  // Secondary content <ASIDE>
    aside {
      button {
        @extend %inheritence-button;
        font-size: $secondary-button_font-size;
        color: $secondary-button_color; 
        background: $secondary-button_background-color;  
        border: $secondary-button_border;
        border-radius: $secondary-button_border-radius;
        padding: $secondary-button_padding;
        &:hover {
            color: $secondary-button_hover-color;
            background: $secondary-button_hover-background-color;
            border: $secondary-button_hover-border;
            a {
                color: $secondary-button_link-hover-color;
            }
        }
        a {
          padding: $secondary-button_link-padding;
          margin: $secondary-button_link-margin;
          display:block;
          &:active, 
          &:focus {
            background:$secondary-button_hover-background-color;
            color:$secondary-button_hover-color;
            padding:$secondary-button_link-padding;
            border-radius: $secondary-button_border-radius;
          }
        }
        &[type="submit"],
        &[type="button"],
        &[type="reset"] {
          padding: $secondary-button_padding;
          &:hover {
          }
          a {
            padding: $secondary-button_link-padding;
            margin: $secondary-button_link-margin;
          }
          @media (min-width: 768px) {
          }
        }
        &[type="disabled"]{
          color: #060606;
          background: #868686;
          border: 1px solid #060606;
          &:hover {
            background: #eaeaea;
            color: #868686;
            border-color: #868686;
          }
        }
      }
    }
  }