[class*="i--"] {
  position: relative;
  display: inline-block;
  margin:0 .75em 0 .125em;
  color: #d43900;
  &:after, &:before {
    content: "";
  }
}


[class*="i--arrow"]{
  width: .7em;
  height: .7em;
  border-width: .2em .2em 0 0;
  border-style: solid;
  top:-.025em;
  &:before, &:after{
    position: absolute;
  }
  &:before{
    right: 0;
    top:-.15em;
    width: .9em;
    height: 1.125em;
    transform: rotate(-45deg);
    transform-origin: right top;
    border-top:.22em solid #d43900;
    content:'';
    display:block;
  }

  &[class*="-right"]{
    transform: rotate(45deg);
    &[class*="-up"]{
      transform: none;
    }
    &[class*="-down"]{
      transform: rotate(90deg);
    }
  }
  &[class*="-left"]{
    transform: rotate(-135deg);
    &[class*="-up"]{
      transform: rotate(-90deg);
    }
    &[class*="-down"]{
      transform: rotate(180deg);
    }
  }
  &[class*="-up"]{
    transform: rotate(-45deg);
  }
  &[class*="-down"]{
    transform: rotate(135deg);
  }

}

