/*
Default styles for link elements

*/
// Deafult link colors in primary content area
  $link_base-color: #000000;
  $link_border-bottom: #d43900;
  $link_focus-color: #d43900;
  $link_hover-color: #d43900;
  $link_active-color: #d43900;
  $link_active-background-color: #212121;
    // Secondary <ASIDE> content links <A> 
    $secondary-link_base-color: #ffffff;
    $secondary-link_border-bottom: #ffffff;
    $secondary-link_focus-color: #ffffff;
    $secondary-link_hover-color: #ffffff;
    $secondary-link_active-color: #ffffff;
    $secondary-link_active-background-color: #212121;

/*-------- LINKS ----------*/
  %inheritence-link {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    font-weight: 700;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  .page-main {
    a {
      @extend %inheritence-link;
      color: $link_base-color;
      border-bottom: 1px solid $link_border-bottom;
      &:link, &:visited {
        color: $link_base-color;
      }
      &:focus {
        border-bottom: none;
        color: $link_focus-color;
      }
      &:hover {
        border-bottom: none;
        color: $link_hover-color;
      }
      &:active {
        background: $link_active-background-color;
        color: $link_active-color;
        border-bottom:none;
      }
    }
    .content-secondary__content {
      a {
        @extend %inheritence-link;
        color: $secondary-link_base-color;
        border-bottom: 1px solid $secondary-link_border-bottom;
        &:link, &:visited {
          color: $secondary-link_base-color;
        }
        &:focus {
          border-bottom: none;
          color: $secondary-link_focus-color;
        }
        &:hover {
          border-bottom: none;
          color: $secondary-link_hover-color;
        }
        &:active {
          background: $secondary-link_active-background-color;
          color: $secondary-link_active-color;
        }
      }
    }
  }
  a.object__back-button {
    border-bottom:0;
    &:hover, &:active {
      border-bottom:1px solid #d43900;
    }
  }