.page-main {
    .t4_text-lowercase {
        text-transform: lowercase;
        margin: 1em 0;
    }
    .t4_text-uppercase {
        text-transform: uppercase;
        margin: 1em 0;
    }
    .t4_text-capitalize {
        text-transform: capitalize;
        margin: 1em 0;
    }
    .t4_text-muted {
        color: #6b6969;
        margin: 1em 0;
    }
    .t4_text-primary {
        font-weight: 900;
        margin: 1em 0;
    }
    .t4_text-success {
        color: #000;
        font-weight: 700;
        padding: 0.8em;
        background: #ddfddc;
        border: 1px solid #97c597;
        margin: 1em 0;
    }
    .t4_text-info {
        color: #000;
        padding: 0.8em;
        background: #e4e8ff;
        font-weight: 700;
        border: 1px solid rgb(135, 165, 204);
        margin: 1em 0;
    }
    .t4_text-warning {
        padding: 0.8em;
        font-weight: 700;
        background: #fffeb4;
        margin: 1em 0;
        border: 1px solid #f5e400;
    }
    .t4_text-danger {
        padding: 0.8em;
        font-weight: 700;
        background: #ffe5e5;
        margin: 1em 0;
        border: 1px solid red;
    }
    .t4_button {
        @extend %inheritence-button;
        font-size: $button_font-size; 
        color: $button_color; 
        background: $button_background-color;  
        border: $button_border;
        border-radius: $button_border-radius;
        padding: $button_padding;
        &:hover {
            color: $button_hover-color;
            background: $button_hover-background-color;
            border: $button_hover-border;
            a {
                color: $button_link-hover-color;
            }
        }
        a {
            margin: $button_link-margin;
            padding: $button_link-padding;
            border-bottom:0;
        }
    }
}

// layouts for use with primary content content type
.content-primary {
    &.l-directory {
        width:100%;
        border:1px solid #dedede;
        padding:1em;
        @media screen and (min-width: 768px) {
            width:29%;
            float:left;
            margin:2%;
            
        }  
        img {
            width:100% !important;
            height:auto !important;
            margin:0;
        }
        h2 {
            font-size:1.5em;
            border-bottom:1px solid rgba(0,0,0,.8);
        }
        .content-primary__content {
            p:first-child {
                padding:0;
                margin:-1em;
            }
        }
    }
    &.l-feature-image {
        padding:0;
        margin: -2.6em -2em -2em -2em;
        .l-wrapper {
            max-width:100%;
        }
        img {
            width:100% !important;
        }
    }
    &.l-typography {
      .content-primary__content {
        div {
          display:block;
          margin:0;
          @media screen and (min-width: 768px) {
            display:inline-block;
            width:30%;
            margin-left:10%;
          }
        }
        blockquote {
          display:block;
          margin:0;
          @media screen and (min-width: 768px) {
            float:right;
            width:30%;
            margin-left:10%;
          }
          h4 {font-size:3em;}
        }
      }
      h1 {display:inline-block;}
      &.merriweather {font-family:'Merriweather';}
    }
    &.l-testimonial {
        position:relative;
        .l-wrapper {
            z-index:999;
            position:relative;
        }
        &:before {
            content:'';
            display:block;
            position:absolute;
            top:0;left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100vw;
            position: absolute;
            content: '';
            z-index: 1;
            background:#dedede;
            max-width:calc(100vw - 1em);
        }
        img {
            border-radius:10em;
            float:left;
            margin:2em;
        }
        h2 {
            margin:1em 0 0 0;
        }

    }
}


/*-------------*/
/* End of file */