// Font Stack
$font-stack: Roboto,arial,sans-serif;

// ACCORDION
$accordion-title_hover-bg-color: $vcu-primary-white;
$accordion-title_hover-fg-color: $vcu-neutral-camarone;

// Button
$button_font-size: 1em;
$button_color: #000000;
$button_background-color: #ffffff;
$button_border: 1px solid $vcu-neutral-camarone;
$button_border-radius: 30em;
$button_padding: .7em 1.5em;
$button_hover-border: 1px solid $vcu-neutral-camarone;
$button_hover-color: #ffffff;
$button_hover-background-color: $vcu-neutral-camarone;

// Link <A> inside a <button>
$button-link_hover-color: #fff;
$button-link_padding: .7em 1.5em;
$button-link_margin: -.7em -1.5em;
$button-link_base-color: #000000;
$button-link_contrast-color: #212121;
$button-link_background-color: #212121;

// Secondary <ASIDE> <Button>
$secondary-button_font-size: 1em;
$secondary-button_color: #ffffff;
$secondary-button_background-color: #ffffff;
$secondary-button_padding: .7em 1.5em;
$secondary-button_border: 1px solid $vcu-neutral-camarone;
$secondary-button_border-radius: 30em;
$secondary-button_hover-border: 1px solid $vcu-neutral-camarone;
$secondary-button_hover-background-color: $vcu-neutral-camarone;
$secondary-button_hover-color: #ffffff;

// Secondary <ASIDE> Link <A> inside a <button>
$button-secondary-link_hover-color: #fff;
$button-secondary-link_padding: .7em 1.5em;
$button-secondary-link_margin: -.7em -1.5em;
$button-secondary-link_base-color: #000000;
$button-secondary-link_contrast-color: #212121;
$button-secondary-link_background-color: #212121;

// HEADER
$header_bg-color: $vcu-primary-gold;
$header_fg-color: $vcu-primary-black;

// Links
$link_base-color: $vcu-neutral-camarone;
$link_border-bottom: #ADE54D;
$link_focus-color: $vcu-primary-black;
$link_hover-color: $vcu-primary-black;
$link_active-color: $vcu-primary-black;
$link_active-background-color: #efefef;

// Secondary <ASIDE> content links <A>
$secondary-link_base-color: $vcu-neutral-camarone;
$secondary-link_border-bottom: #ADE54D;
$secondary-link_focus-color: $vcu-primary-black;
$secondary-link_hover-color: $vcu-primary-black;
$secondary-link_active-color: $vcu-primary-black;
$secondary-link_active-background-color: #efefef;

// NAV
$nav-bar_bg-color: $vcu-primary-gray-dark;
$nav-link_current-bg-color: $vcu-neutral-camarone;
$nav-link_current-fg-color: $vcu-primary-white;
$nav-link_current-border-color: #ADE54D;
$nav-link_current-sideline-color: #ADE54D;
$nav-link_fg-color: $vcu-primary-white;
$nav-link_hover-bg-color: #091D04;
$nav-link_hover-fg-color: #ADE54D;
$nav-button_bg-color: transparent;
$nav-button_fg-color: #ADE54D;
$nav-button_hover-bg-color: $vcu-primary-black;
$nav-button_hover-fg-color: $vcu-primary-white;
$nav-level2-link_bg-color: $vcu-primary-gray;
$nav-level2-link_fg-color: $vcu-primary-white;
$nav-level2-link_hover-bg-color: #091D04;
$nav-level2-link_hover-fg-color: #ADE54D;
$nav-level2-link_current-bg-color: $vcu-neutral-camarone;
$nav-level2-link_current-fg-color: $vcu-primary-white;
$nav-level2-link_current-hover-bg-color: #252525;
$nav-level2-link_current-hover-fg-color: $vcu-primary-white;
$nav-level2-link_current-sideline-color: #ADE54D;
$nav-level3-link_bg-color: #091D04;
$nav-level3-link_fg-color: $vcu-primary-white;
$nav-level3-link_hover-bg-color: $vcu-neutral-camarone;
$nav-level3-link_hover-fg-color: #ADE54D;
$nav-level3-link_current-bg-color: $vcu-neutral-camarone;
$nav-level3-link_current-fg-color: $vcu-primary-white;
$nav-level3-link_current-caret-color: #ADE54D;

// NAV SECONDARY
$nav-secondary-level2-link_bg-color: $vcu-primary-white;
$nav-secondary-level2-link_fg-color: $vcu-primary-black;
$nav-secondary-level2-link_border-color: #efefef;
$nav-secondary-level2-link_hover-bg-color: #153718;
$nav-secondary-level2-link_hover-fg-color: #ADE54D;
$nav-secondary-level2-link_current-bg-color: $vcu-neutral-camarone;
$nav-secondary-level2-link_current-fg-color: $vcu-primary-white;
$nav-secondary-level2-link_current-hover-bg-color: #153718;
$nav-secondary-level2-link_current-hover-fg-color: #ADE54D;
$nav-secondary-level2-link_current-sideline-color: #ADE54D;
$nav-secondary-level3-link_bg-color: #f9f9f9;
$nav-secondary-level3-link_fg-color: #091D04;
$nav-secondary-level3-link_border-color: #efefef;
$nav-secondary-level3-link_hover-bg-color: $vcu-neutral-camarone;
$nav-secondary-level3-link_hover-fg-color: #ADE54D;
$nav-secondary-level3-link_current-bg-color: $vcu-primary-white;
$nav-secondary-level3-link_current-fg-color: $vcu-primary-black;
$nav-secondary-level3-link_current-caret-color: $vcu-neutral-camarone;

// PRIMARY
$primary-blockquote_accent-color: $vcu-neutral-camarone;
$primary-link_active-bg-color: $vcu-primary-white;
$primary-link_active-fg-color: $vcu-neutral-camarone;
$primary-h1_fg-color: $vcu-neutral-camarone;

// SECONDARY
$secondary_bg-color: $vcu-neutral-camarone;
$secondary_fg-color: $vcu-primary-white;