// THEME DEFAULTS

// Font Stack
$font-stack: Roboto,arial,sans-serif !default;

// Accordion
$accordion-title_hover-bg-color: $vcu-primary-white !default;
$accordion-title_hover-fg-color: $vcu-accent-blue !default;

// Button
$button_font-size: 1em !default;
$button_color: #000000 !default;
$button_background-color: #ffffff !default;
$button_border: 1px solid #d43900 !default;
$button_border-radius: 30em !default;
$button_padding: .7em 1.5em !default;
$button_hover-border: 1px solid #d43900 !default;
$button_hover-color: #ffffff !default;
$button_hover-background-color: #d43900 !default;

// Link <A> inside a <button>
$button-link_hover-color: #fff !default;
$button-link_padding: .7em 1.5em !default;
$button-link_margin: -.7em -1.5em !default;
$button-link_base-color: #000000 !default;
$button-link_contrast-color: #212121 !default;
$button-link_background-color: #212121 !default;

// Secondary <ASIDE> <Button>
$secondary-button_font-size: 1em !default;
$secondary-button_color: #ffffff !default;
$secondary-button_background-color: #ffffff !default;
$secondary-button_padding: .7em 1.5em !default;
$secondary-button_border: 1px solid #d43900 !default;
$secondary-button_border-radius: 30em !default;
$secondary-button_hover-border: 1px solid #d43900 !default;
$secondary-button_hover-background-color: #d43900 !default;
$secondary-button_hover-color: #ffffff !default;

// Secondary <ASIDE> Link <A> inside a <button>
$button-secondary-link_hover-color: #fff !default;
$button-secondary-link_padding: .7em 1.5em !default;
$button-secondary-link_margin: -.7em -1.5em !default;
$button-secondary-link_base-color: #000000 !default;
$button-secondary-link_contrast-color: #212121 !default;
$button-secondary-link_background-color: #212121 !default;

// Header
$header_bg-color: $vcu-primary-gold !default;
$header_fg-color: $vcu-primary-black !default;

// Links
$link_base-color: #000000;
$link_border-bottom: #d43900;
$link_focus-color: #d43900;
$link_hover-color: #d43900;
$link_active-color: #d43900;
$link_active-background-color: #212121;

// Secondary <ASIDE> content links <A>
$secondary-link_base-color: #ffffff;
$secondary-link_border-bottom: #ffffff;
$secondary-link_focus-color: #ffffff;
$secondary-link_hover-color: #ffffff;
$secondary-link_active-color: #ffffff;
$secondary-link_active-background-color: #212121;

// Nav
$nav-bar_bg-color: $vcu-primary-gray-dark !default;
$nav-link_current-bg-color: $vcu-primary-black !default;
$nav-link_current-fg-color: $vcu-primary-white !default;
$nav-link_current-border-color: transparent !default;
$nav-link_current-sideline-color: $vcu-primary-gold !default;
$nav-link_fg-color: $vcu-primary-white !default;
$nav-link_hover-bg-color: #252525 !default;
$nav-link_hover-fg-color: $vcu-primary-gold !default;
$nav-button_bg-color: transparent !default;
$nav-button_fg-color: $vcu-primary-white !default;
$nav-button_hover-bg-color: $vcu-primary-black !default;
$nav-button_hover-fg-color: $vcu-primary-gold !default;
$nav-level2-link_bg-color: $vcu-primary-gray !default;
$nav-level2-link_fg-color: $vcu-primary-white !default;
$nav-level2-link_hover-bg-color: #252525 !default;
$nav-level2-link_hover-fg-color: $vcu-primary-gold !default;
$nav-level2-link_current-bg-color: $vcu-primary-black !default;
$nav-level2-link_current-fg-color: $vcu-primary-white !default;
$nav-level2-link_current-hover-bg-color: $vcu-primary-gray !default;
$nav-level2-link_current-hover-fg-color: $vcu-primary-gold !default;
$nav-level2-link_current-sideline-color: $vcu-primary-gold !default;
$nav-level3-link_bg-color: $vcu-primary-black !default;
$nav-level3-link_fg-color: $vcu-primary-white !default;
$nav-level3-link_hover-bg-color: $vcu-primary-black !default;
$nav-level3-link_hover-fg-color: $vcu-primary-white !default;
$nav-level3-link_current-bg-color: $vcu-primary-black !default;
$nav-level3-link_current-fg-color: $vcu-primary-white !default;
$nav-level3-link_current-caret-color: $vcu-primary-white !default;

// NAV SECONDARY
$nav-secondary-level2-link_bg-color: $vcu-primary-white !default;
$nav-secondary-level2-link_fg-color: $vcu-primary-black !default;
$nav-secondary-level2-link_border-color: #efefef !default;
$nav-secondary-level2-link_hover-bg-color: #252525 !default;
$nav-secondary-level2-link_hover-fg-color: $vcu-primary-gold !default;
$nav-secondary-level2-link_current-bg-color: $vcu-primary-black !default;
$nav-secondary-level2-link_current-fg-color: $vcu-primary-white !default;
$nav-secondary-level2-link_current-hover-bg-color: $vcu-primary-gray !default;
$nav-secondary-level2-link_current-hover-fg-color: $vcu-primary-gold !default;
$nav-secondary-level2-link_current-sideline-color: $vcu-primary-gold !default;
$nav-secondary-level3-link_bg-color: $vcu-primary-black !default;
$nav-secondary-level3-link_fg-color: $vcu-primary-white !default;
$nav-secondary-level3-link_border-color: #efefef !default;
$nav-secondary-level3-link_hover-bg-color: $vcu-primary-black !default;
$nav-secondary-level3-link_hover-fg-color: $vcu-primary-white !default;
$nav-secondary-level3-link_current-bg-color: $vcu-primary-black !default;
$nav-secondary-level3-link_current-fg-color: $vcu-primary-white !default;
$nav-secondary-level3-link_current-caret-color: $vcu-primary-white !default;

// Primary
$primary-blockquote_accent-color: $vcu-primary-gold !default;
$primary-link_active-bg-color: #212121 !default;
$primary-link_active-fg-color: $vcu-accent-red !default;
$primary-h1_fg-color: $vcu-accent-blue !default;

// Secondary
$secondary_bg-color: $vcu-accent-blue !default;
$secondary_fg-color: $vcu-primary-white !default;