@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Roboto:100,300,400,500,700,900');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  background-color:#ffffff;
  color:#000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 1.5em 0 0.1em 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.4em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.4375em;
  color: rgba(0, 0, 0, 1);
}

h3 {
  font-size: 1.75em;
  line-height: 1.75em;
  color: rgba(0, 0, 0, 1);
}

h4 {
  font-size: 1.5em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 1);
}

h5 {
  font-size: 1.25em;
  line-height: 1.65em;
  color: rgba(0, 0, 0, 1);
}

h6 {
  font-size: 1em;
  line-height: 1.875em;
  color: rgba(0, 0, 0, 1);
}

hr {
  margin: 2em 0;
}

pre {
  display: block;
  padding: 9.5px;
  font-size: 13px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

address {
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.5em;
}

p {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.5em;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
}

a {
  transition: all 0.3s ease-in-out;
}


/* page-main */
.page-main {
  max-width: 1400px;
  margin: auto;
  > .l-wrapper {
     > .l-gutter {
      @media screen and (min-width: 768px) {
        display:grid;
        grid-template-columns: 100px fit-content(30%) 1fr fit-content(30%) 100px;
      }
    }
  }
  .content-primary__content:last-child {
    margin-bottom:4em;
  }
  @media screen and (min-width: 768px) {
    section {
      grid-column:3;
    }
    aside {
      grid-column:4;
      max-width:420px;
    }
    nav {
      grid-column:2;
    }
  }
}

/* Jumplinks for SR/Keyboard Navigation */

.skip-menu {
  button {}
  a.skip-menu__skip-link {
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    left: 15px;
    top: -200px;
    z-index: 9999999;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    color: #fff;
    outline: none;
    transition: top .2s,background-color .2s;
    text-transform: none;
    display: block;
    background-color: #272727;
    padding: 1em;
    &:active, &:focus {
      top: 0;
      color: #f8b300;
    }
  }
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  list-style: outside none;
  z-index: 9999999999;
}



/*-------------*/
/* End of file */