// SUBNAV

.nav-sub {
  .nav-main__tree-level1 {
    > .nav-main__tree-item {
      > a.nav-main__tree-link {
        display: none;
      }
    }
  }
}

.nav-sub .nav-main__tree-level1 > .nav-main__tree-item > button.nav-main__tree-toggle {
  display: none;
}

.nav-sub .nav-main__tree-level1 > .nav-main__tree-item.is-current.has-dropdown.is-collapsed ul.nav-main__tree-level2 {
  display: block;
  height: auto;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item {
  @include breakpoint(sm) {
    border-bottom: 1px solid $nav-secondary-level2-link_border-color;
    border-left: 1px solid $nav-secondary-level2-link_border-color;
    border-right: 1px solid $nav-secondary-level2-link_border-color;
  }
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item:first-child {
  @include breakpoint(sm) {
    border-top: 1px solid $nav-secondary-level2-link_border-color;
  }
}

.nav-sub .nav-main__tree-level3 li.nav-main__tree-item {
  @include breakpoint(sm) {
    background: $nav-secondary-level3-link_bg-color;
    border-bottom: 1px solid $nav-secondary-level3-link_border-color;
  }
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item:hover,
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item:hover > a {
  background: $nav-secondary-level2-link_hover-bg-color;
  color: $nav-secondary-level2-link_hover-fg-color;
}

.nav-sub .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle:hover,
.nav-sub .nav-main__tree-level1 li.nav-main__tree-item.is-expanded > button.nav-main__tree-toggle:hover {
  background: $nav-secondary-level2-link_hover-bg-color;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-expanded button.nav-main__tree-toggle {
  background: $nav-secondary-level2-link_bg-color;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current.is-expanded button.nav-main__tree-toggle {
  background: $nav-secondary-level2-link_current-bg-color;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current button.nav-main__tree-toggle .nav-main__tree-caret,
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current.is-expanded button.nav-main__tree-toggle .nav-main__tree-caret,
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current button.nav-main__tree-toggle:focus .nav-main__tree-caret,
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current.is-expanded button.nav-main__tree-toggle:focus .nav-main__tree-caret {
  border-left-color: $nav-secondary-level2-link_current-fg-color;
  border-bottom-color: $nav-secondary-level2-link_current-fg-color;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-expanded button.nav-main__tree-toggle .nav-main__tree-caret,
.nav-sub .nav-main__tree-level1 li.nav-main__tree-item.is-expanded button.nav-main__tree-toggle:focus .nav-main__tree-caret {
  border-left-color: $nav-secondary-level2-link_fg-color;
  border-bottom-color: $nav-secondary-level2-link_fg-color;
}

.nav-sub .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle:hover .nav-main__tree-caret,
.nav-sub .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle:focus .nav-main__tree-caret,
.nav-sub .nav-main__tree-level1 li.nav-main__tree-item:hover > button.nav-main__tree-toggle .nav-main__tree-caret,
.nav-sub .nav-main__tree-level1 li.nav-main__tree-item.is-expanded:hover > button.nav-main__tree-toggle .nav-main__tree-caret,
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-expanded button.nav-main__tree-toggle:hover .nav-main__tree-caret {
  border-left-color: $nav-secondary-level2-link_hover-fg-color;
  border-bottom-color: $nav-secondary-level2-link_hover-fg-color;
}

.nav-sub .nav-main__tree-level1 li.nav-main__tree-item:hover > button.nav-main__tree-toggle {
  background: $nav-secondary-level2-link_hover-bg-color;
}

//

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current {
  background: $nav-secondary-level2-link_current-bg-color;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current>a:before {
  background: $nav-secondary-level2-link_current-sideline-color;
}

// link level 2
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item {
  background: $nav-secondary-level2-link_bg-color;
}

.nav-sub .nav-main__tree-level2 li a.nav-main__tree-link {
  color: $nav-secondary-level2-link_fg-color;
}

.nav-sub .nav-main__tree-level2 li a.nav-main__tree-link:hover {
  background: $nav-secondary-level2-link_hover-bg-color;
  color: $nav-secondary-level2-link_hover-fg-color;
}

// current link level 2
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current > a {
  background: $nav-secondary-level2-link_current-bg-color;
  color: $nav-secondary-level2-link_current-fg-color;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current > a:hover {
  background: $nav-secondary-level2-link_current-hover-bg-color;
  color: $nav-secondary-level2-link_current-hover-fg-color;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current > a::before {
  background: $nav-secondary-level2-link_current-sideline-color;
}

// link level 3
.nav-sub .nav-main__tree-level3 li.nav-main__tree-item {
  background-color: $nav-secondary-level3-link_bg-color;
  padding-left: 1em;
}

.nav-sub .nav-main__tree-level3 li a.nav-main__tree-link {
  color: $nav-secondary-level3-link_fg-color;
}

.nav-sub .nav-main__tree-level3 li a.nav-main__tree-link:hover {
  background-color: $nav-secondary-level3-link_hover-bg-color;
  color: $nav-secondary-level3-link_hover-fg-color;
}

// current link level 3
.nav-sub .nav-main__tree-level3 li.nav-main__tree-item.is-current {
  background: $nav-secondary-level3-link_current-bg-color;
}

.nav-sub .nav-main__tree-level3 li.nav-main__tree-item.is-current a {
  background: $nav-secondary-level3-link_current-bg-color;
  color: $nav-secondary-level3-link_current-fg-color;
}

.nav-sub .nav-main__tree-level3 li.nav-main__tree-item.is-current a:hover {
  background: $nav-secondary-level3-link_current-bg-color;
  color: $nav-secondary-level3-link_current-fg-color;
}

.nav-sub .nav-main__tree-level3 li.nav-main__tree-item.is-current a::before {
  background: transparent;
  color: $nav-secondary-level3-link_current-caret-color;
}