// NAV

// bar
.nav-main {
  background: $nav-bar_bg-color;
}

.nav-main .nav-main__tree-level1 {
  background-color: $nav-bar_bg-color;
}

// link
.nav-main .nav-main__tree-level1 li a.nav-main__tree-link {
  color: $nav-link_fg-color;
}

.nav-main .nav-main__tree-level1 li a.nav-main__tree-link:hover {
  background: $nav-link_hover-bg-color;
  color: $nav-link_hover-fg-color;
}

// current link
.nav-main .nav-main__tree-level1 li.nav-main__tree-item.is-current > a {
  background: $nav-link_current-bg-color;
  color: $nav-link_current-fg-color;
}

.nav-main .nav-main__tree-level1 li.nav-main__tree-item.is-current > a::before {
  background: $nav-link_current-sideline-color;
}

// dropdown arrow button
.nav-main .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle {
  background: $nav-button_bg-color;
}

.nav-main .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle .nav-main__tree-caret {
  border-left-color: $nav-button_fg-color;
  border-bottom-color: $nav-button_fg-color;
}

.nav-main .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle:hover {
  background: $nav-button_hover-bg-color;
}

.nav-main .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle:hover .nav-main__tree-caret {
  border-left-color: $nav-button_hover-fg-color;
  border-bottom-color: $nav-button_hover-fg-color;
}

// link level 2
.nav-main .nav-main__tree-level2 li.nav-main__tree-item {
  background: $nav-level2-link_bg-color;
}

.nav-main .nav-main__tree-level2 li a.nav-main__tree-link {
  color: $nav-level2-link_fg-color;
}

.nav-main .nav-main__tree-level2 li a.nav-main__tree-link:hover {
  background: $nav-level2-link_hover-bg-color;
  color: $nav-level2-link_hover-fg-color;
}

// current link level 2
.nav-main .nav-main__tree-level2 li.nav-main__tree-item.is-current > a {
  background: $nav-level2-link_current-bg-color;
  color: $nav-level2-link_current-fg-color;
}

.nav-main .nav-main__tree-level2 li.nav-main__tree-item.is-current > a:hover {
  background: $nav-level2-link_current-hover-bg-color;
  color: $nav-level2-link_current-hover-fg-color;
}

.nav-main .nav-main__tree-level2 li.nav-main__tree-item.is-current > a::before {
  background: $nav-level2-link_current-sideline-color;
}

// link level 3
.nav-main .nav-main__tree-level3 li.nav-main__tree-item {
  background-color: $nav-level3-link_bg-color;
}

.nav-main .nav-main__tree-level3 li a.nav-main__tree-link {
  color: $nav-level3-link_fg-color;
}

.nav-main .nav-main__tree-level3 li a.nav-main__tree-link:hover {
  background-color: $nav-level3-link_hover-bg-color;
  color: $nav-level3-link_hover-fg-color;
}

// current link level 3
.nav-main .nav-main__tree-level3 li.nav-main__tree-item.is-current {
  background: $nav-level3-link_current-bg-color;
}

.nav-main .nav-main__tree-level3 li.nav-main__tree-item.is-current a {
  background: $nav-level3-link_current-bg-color;
  color: $nav-level3-link_current-fg-color;
}

.nav-main .nav-main__tree-level3 li.nav-main__tree-item.is-current a:hover {
  background: $nav-level3-link_current-bg-color;
  color: $nav-level3-link_current-fg-color;
}

.nav-main .nav-main__tree-level3 li.nav-main__tree-item.is-current a::before {
  background: transparent;
  color: $nav-level3-link_current-caret-color;
}