footer {
	background:#222222;
	min-height:200px;
	width:100%;
	color:#ffffff;
	.l-wrapper {
		max-width:1400px;
		margin:auto;
	}
	.l-gutter {

	}
	.footer-contact, .footer-contact__right{
		flex-grow:1;
		padding:2em;
		ul {
			padding:0;
		}
		li {
			list-style:none;
						line-height:1.25em;
		}
		a {
			color:#fff;
			font-size:1em;
			font-weight:700;
			border:none;
			&:hover {
				background:none;
				color:#ffba00;
			}	
		}
	}
	.footer-contact {
		display:flex;
		flex-direction:column;
		@media (min-width: 1024px) {
			flex-direction:row;
		}
		a {
			&:hover {
				text-decoration:none;
			}
		}
		ul.footer-contact__left {
			flex-grow: 1;
			li:nth-child(4) {
				&::before {
					font-family: "Font Awesome 5 Free";  
					content: "\f095";
					margin-right:.25em;
					font-weight: 900;
					font-size:.875em;
					color:#f8b800;
				}
			}
			li:nth-child(5) {
				&::before {
					font-family: "Font Awesome 5 Free";  
					content: "\f0e0";
					margin-right:.25em;
					font-weight: 900;
					font-size:.875em;
					color:#f8b800;
				}
			}
			li {
				line-height:1.65em;
			}
			li:first-child a {
				color:#fff;
				font-weight:bold;
				font-size:1.25em;
				text-decoration:none;
				&:hover {
					color:#ffba00;
				}			
			}
			li:nth-child(2) a {
				color:#fff;
				font-weight:bold;
				font-size:1.125em;
				text-decoration:none;
				&:hover {
					text-decoration:none;
					color:#ffba00;
				}
			}
			address {
				font-size:1em;
				margin-bottom: 0.5em;

			}
		}
	}
	.footer-contact__right {
		flex-grow: 1;
		text-align: center;
		padding: 1em 0;
		@media (min-width: 1024px) {
			text-align: right;
			padding: 2em;
  		}
	}
	.footer-contact__center {
		text-align: left;
	    border-top: 1px solid #444;
	    border-bottom: 1px solid #444;
	    padding: 2em 0;
	    margin: 3em 0;
	    flex-grow: 1;
	    @media (min-width: 1024px) {
	    	border-top: 0;
	    	border-bottom: 0;
			border-right: 1px solid #444;
	    	border-left: 1px solid #444;
	    	padding:0 2em;
	    	max-width:35%;
		}
		h1, h2, h3, h4, h5, h6 {
			color: #ffba00;
		}
		h2 {
	        margin: 0;
	        text-transform: uppercase;
	        font-size: 1.2em;
    	}
		@media (min-width: 1024px) {
			text-align: left;
  		}
  		ul {
	        list-style: none;
	        padding: 0;
	        margin: 0.5em 0;
			li {
            	line-height: 1.6em;
           		a {
	                text-decoration: none;
	                color: #fff;
	                font-weight: 700;
               		&:hover {
                    	color: #ffba00;
                	}
            	}
        	}
    	}
	}

	.footer-contact__right-social {
		li {
			display:inline-block;
			margin: 0 0.5em 0 0;
			a {
				color: #fff;
  				width: 45px;
				height: 45px;
				border-radius: 50%;
				display: block;
				border: 2px solid #565656;
				text-align: center;
				font-size:1.5em;
				line-height:1.75em;
				&:hover {
					background:#ffba00;
					border: 2px solid #000;
				}
				&:hover .fab {
					color:#000;
				}
			}
		}
	}
	.footer-contact__standards {
		width:100%;
		display:block;
		font-size:.75em;
		padding-bottom:1em;
		.footer-contact__standards-list {
			text-align: center;
  			padding: 0;
  			margin-bottom: 0;
  			color:#aaa;
			li {
				list-style:none;
				display:inline-block;
				padding:.5em 0em;
				&:after {
					content: '/';
					display:inline-block;
					margin: 0 0.2em 0 0.5em;
				}
				&:last-child:after {
					content:'';
				}
			}

			a {
				font-weight:700;
				color:#aaa;
				text-decoration: none;
				&:hover {
					color:#ffffff;
				}
			}

		}

	}
}

/*-------------*/
/* End of file */