.nav-sub {
  .nav-main__tree-toggle, .nav-sub__tree-toggle {
    font-size:1em;
  }
  .has-dropdown {
    &.is-collapsed {
      ul {
        overflow: hidden;
        transition: all 1s;
        height:0;
        display:none;
      }
    }
    &.is-current {

    }
    &.is-expanded {
      > ul {
        height:auto;
        display:block;
      }
    }
  }
  .is-current {
    > a {
    }
  }
  .nav-main__tree-level1,
  .nav-sub__tree-level1 {
    display: -webkit-box;   
    -webkit-flex-direction:column;
    display:flex; 
    flex-direction:column;
    z-index: 999998;
    padding: 0;
    left: 0;
    top:0px;
    padding-top: 4em;
    margin: 0;
    li {
      display:none;
      &.nav-main__tree-item {
        position:relative;
        list-style:none;
        display:block;
        padding-right:3em;
        button.nav-main__tree-toggle {
          background:transparent;
          border:none;
          position:absolute;
          top:0 ;
          right:0;
          width:3em;
          padding:1.5em 1em 1.75em 1em;
          &:before {
            content: '';
            display:none;
            position:absolute;
            width:1px;
            height:80%;
            top:10%;
            left:0;
            background: #474747;
          }
          .nav-main__tree-caret {
            transition:.2s;
            border-left: 2px solid #000;
            border-bottom: 2px solid #000;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            width: .45em;
            height:.45em;
            top:1.375em;
            left:1.25em;
            position:absolute;
            &:hover {
              border-left-color: #ffba00;
              border-bottom-color: #ffba00;
            }

          }   
      
          &:hover {
            background:#ababab;
            cursor:pointer;
          }
          &:hover .nav-main__tree-caret {
            border-left-color: #ffba00;
            border-bottom-color: #ffba00;
            cursor:pointer;
          }
          &:focus .nav-main__tree-caret {
            border-left-color: #ffba00;
            border-bottom-color: #ffba00;
            cursor:pointer;
          }
        }   
        &.is-current {
          > a {
            &:before {
              content: '';
              display:block;
              position:absolute;
              left:0em;
              top:0em;
              height:100%;
              width:.5em;
              background:#fdb92c;
            }
          }
        }
        &.is-expanded {
          &.is-current {
            button {
            }
          }
          > button.nav-main__tree-toggle {
            background:#474747;
            .nav-main__tree-caret {
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
            &:hover {
              background:#ababab;
            }
          }
        }   
      }
      
      &.has-dropdown {
        a {
          &.nav-main__tree-link{

          }
        }
        .is-current {
          background:#ababab;
          display:inherit;
        }  
      }
      a.nav-main__tree-link {
        color:#000000;
        text-transform:uppercase;
        font-weight:700;
        text-align:center;
        padding:1em 2em;
        display:block;
        text-align:left;
        text-decoration:none;
        border:none;
        &:focus {
          color:#ffba00;
          background:#252525;
        }
        &:hover {
          color:#121212;
          background:#ababab;
        }
      }
    }

  }
  .nav-main__tree-level2 {
    padding:0px;
    position:relative;
    li {
      &.nav-main__tree-item {
        position:relative;
        background:transparent;
        display:block;
        &:hover {
          background:#ababab;
          button {
            .nav-main__tree-caret {
            }
          }   
          ul { 
          }
        }
        button {
          &.nav-main__tree-toggle {
            &:before {
              content: '';
              display:block;
              position:absolute;
              width:1px;
              height:80%;
              top:10%;
              left:0;
              background: rgba(255, 255, 255, 0.2);
            }
          }
          &:hover {
            background: #dfdfdf;
          }
        }
        &.is-current {
          > a {
            &:before {
              content: '';
              display:block;
              position:absolute;
              left:0em;
              top:0em;
              height:100%;
              width:.5em;
              background:#fdb92c;
            }
          }
        }
        &.has-dropdown {
          a {
          }
        }
        ul { 
        }
        &.is-expanded {
          background:transparent;
          ul {   
          }
          &:hover {
            ul {  
            }
          }
          button {
            &.nav-main__tree-toggle {
              background:#dfdfdf;
              &:hover {
                .nav-main__tree-caret {
                  border-left: 2px solid #fdb92c;
                  border-bottom: 2px solid #fdb92c;
                }
              }
              .nav-main__tree-caret {
                border-left: 2px solid #000;
                border-bottom: 2px solid #000;
                &:hover {
                  background:#ababab;
                }
              }           
            }
          }
          a.nav-main__tree-link {
            &:hover {
              background:none;
            }
          }
        }
      }
    }
  }
  .nav-main__tree-level3 {
    padding:0;
    li {
      &.nav-main__tree-item {
        background:transparent;
        border:none;
        a {
          color:#000;
          border:none;
          &:hover {
            text-decoration:underline;
            color:#000000;
          }
        }
        &:hover {
          background:#dfdfdf;
        }
        &.is-current {
          background:#dfdfdf;
          padding-left: 1em;
          a {
            border:0;
            &:before {
              content: '»';
              display:block;
              position:absolute;
              left:2em;
              top:1em;
              background:none;
            }
          }
        }
      }
    }
  }
}

/* --------------------- */
  .nav-sub__tree-level1 {
    display: -webkit-box;   
    -webkit-flex-direction:column;
    display:flex; 
    flex-direction:column;
    z-index: 999998;
    padding: 0;
    left: 0;
    top:0px;
    padding-top: 4em;
    margin: 0;
    li {
      &.nav-sub__tree-item {
        position:relative;
        list-style:none;
        display:block;
        padding-right:3em;
        button.nav-sub__tree-toggle {
          background:transparent;
          border:none;
          position:absolute;
          top:0 ;
          right:0;
          width:3em;
          padding:1.5em 1em 1.75em 1em;
          &:before {
            content: '';
            display:none;
            position:absolute;
            width:1px;
            height:80%;
            top:10%;
            left:0;
            background: #474747;
          }
          .nav-sub__tree-caret {
            transition:.2s;
            border-left: 2px solid #000;
            border-bottom: 2px solid #000;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            width: .45em;
            height:.45em;
            top:1.375em;
            left:1.25em;
            position:absolute;
            &:hover {
              border-left-color: #ffba00;
              border-bottom-color: #ffba00;
            }

          }   
      
          &:hover {
            background:#ababab;
            cursor:pointer;
          }
          &:hover .nav-sub__tree-caret {
            border-left-color: #ffba00;
            border-bottom-color: #ffba00;
            cursor:pointer;
          }
          &:focus .nav-sub__tree-caret {
            border-left-color: #ffba00;
            border-bottom-color: #ffba00;
            cursor:pointer;
          }
        }   
        &.is-current {
          > a {
            &:before {
              content: '';
              display:block;
              position:absolute;
              left:0em;
              top:0em;
              height:100%;
              width:.5em;
              background:#fdb92c;
            }
          }
        }
        &.is-expanded {
          &.is-current {
            button {
            }
          }
          > button.nav-sub__tree-toggle {
            background:#474747;
            .nav-main__tree-caret {
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
            &:hover {
              background:#ababab;
            }
          }
        }   
      }
      
      &.has-dropdown {
        a {
          &.nav-main__tree-link{

          }
        }
        .is-current {
          background:#ababab;
          display:inherit;
        }  
      }
      a.nav-sub__tree-link {
        color:#000000;
        text-transform:uppercase;
        font-weight:700;
        text-align:center;
        padding:1em 2em;
        display:block;
        text-align:left;
        text-decoration:none;
        border:none;
        &:focus {
          color:#ffba00;
          background:#252525;
        }
        &:hover {
          color:#121212;
          background:#ababab;
        }
      }
    }
  }
  .nav-sub__tree-level2 {
    padding:0px;
    position:relative;
    li {
      &.nav-sub__tree-item {
        position:relative;
        background:transparent;
        display:block;
        &:hover {
          background:#ababab;
          button {
            .nav-main__tree-caret {
            }
          }   
          ul { 
          }
        }
        button {
          &.nav-main__tree-toggle {
            &:before {
              content: '';
              display:block;
              position:absolute;
              width:1px;
              height:80%;
              top:10%;
              left:0;
              background: rgba(255, 255, 255, 0.2);
            }
          }
          &:hover {
            background: #dfdfdf;
          }
        }
        &.is-current {
          > a {
            &:before {
              content: '';
              display:block;
              position:absolute;
              left:0em;
              top:0em;
              height:100%;
              width:.5em;
              background:#fdb92c;
            }
          }
        }
        &.has-dropdown {
          a {
          }
        }
        ul { 
        }
        &.is-expanded {
          background:transparent;
          ul {   
          }
          &:hover {
            ul {  
            }
          }
          button {
            &.nav-sub__tree-toggle {
              background:#dfdfdf;
              &:hover {
                .nav-main__tree-caret {
                  border-left: 2px solid #fdb92c;
                  border-bottom: 2px solid #fdb92c;
                }
              }
              .nav-sub__tree-caret {
                border-left: 2px solid #000;
                border-bottom: 2px solid #000;
                &:hover {
                  background:#ababab;
                }
              }           
            }
          }
          a.nav-sub__tree-link {
            &:hover {
              background:none;
            }
          }
        }
      }
    }
  }
  .nav-sub__tree-level3 {
    padding:0;
    li {
      &.nav-sub__tree-item {
        background:transparent;
        border:none;
        a {
          color:#000;
          border:none;
          &:hover {
            text-decoration:underline;
            color:#000000;
          }
        }
        &:hover {
          background:#dfdfdf;
        }
        &.is-current {
          background:#dfdfdf;
          padding-left: 1em;
          a {
            border:0;
            &:before {
              content: '»';
              display:block;
              position:absolute;
              left:2em;
              top:1em;
              background:none;
            }
          }
        }
      }
    }
  }
/*-------------*/
/* End of file */