.nav-main {
  background:#333;
  .nav-main__toggle {
    background: none;
    border: none;
    width: 5em;
    height: 5em;
    padding: .125em;
    z-index: 99999999;
    position: absolute;
    top: 0px;
    left: 0px;
    &:hover {
      cursor:pointer;
    }
    span {
      &.nav-main__toggle-icon {
        width: 1.5em;
        height: .75em;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        cursor: pointer;
        display: inline-block;
        span {
          display: block;
          position: absolute;
          height: .25em;
          width: 100%;
          background: #000;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .2s ease-in-out;
          -moz-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2) {
            top: .5em;
          }
          &:nth-child(3), &:nth-child(4) {
            top: 1em;
          }
        }
        @media screen and (min-width: 991px) {
          display:none;
        }
      }      
    } 
  }
  .nav-main__tree-toggle {
    font-size:1em;
  }
  .has-dropdown {
    &.is-collapsed {
      ul {
        overflow: hidden;
        transition: all 1s;
        height:0;
        display:none;
        @media screen and (min-width: 991px) {
          overflow:visible;
        } 
      }
    }
    &.is-current {

    }
    &.is-expanded {
      > ul {
        height:auto;
        display:block;
        @media screen and (min-width: 991px) {
          overflow:visible;
        } 
      }
    }
  }
  .is-current {
    > a {
    }
  }
  .l-wrapper {
    max-width:1400px;
    margin:auto;
  }
  .nav-main__tree-level1 {
    display: -webkit-box;   
    -webkit-flex-direction:column;
    display:flex; 
    flex-direction:column;
    transition: transform .2s;
    transform-origin:left;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    width: 100%;
    position: absolute;
    z-index: 999998;
    padding: 0;
    left: 0;
    top:0px;
    padding-top: 4em;
    margin: 0;
    background:#333;
    li {
      &.nav-main__tree-item {
        position:relative;
        list-style:none;
        display:block;
        button.nav-main__tree-toggle {
          background:transparent;
          border:none;
          position:absolute;
          top:0 ;
          right:0;
          width:3em;
          padding:1.5em 1em 1.75em 1em;
          &:before {
            content: '';
            display:block;
            position:absolute;
            width:1px;
            height:80%;
            top:10%;
            left:0;
            background: #474747;
            @media screen and (min-width: 991px) {
              display:none;
            }
          }
          .nav-main__tree-caret {
            transition:.2s;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            width: .45em;
            height:.45em;
            top:1.375em;
            left:1.25em;
            position:absolute;
            &:hover {
              border-left-color: #ffba00;
              border-bottom-color: #ffba00;
            }
            @media screen and (min-width: 991px) {
              left:.75em;
            } 
          }   
          @media screen and (min-width: 991px) {
            background:none;
            width:auto;
            top:0px;
          }       
          &:hover {
            background:#000;
            cursor:pointer;
          }
          &:hover .nav-main__tree-caret {
            border-left-color: #ffba00;
            border-bottom-color: #ffba00;
            cursor:pointer;
          }
          &:focus .nav-main__tree-caret {
            border-left-color: #ffba00;
            border-bottom-color: #ffba00;
            cursor:pointer;
          }
        }   
        &.is-current {
          > a {
            &:before {
              content: '';
              display:block;
              position:absolute;
              left:0em;
              top:0em;
              height:100%;
              width:.5em;
              background:#fdb92c;
              @media screen and (min-width: 991px) {
                display:none;
              }
            }
            @media screen and (min-width: 991px) {
              background:#000000;
            }
          }
        }
        &.is-expanded {
          &.is-current {
            button {
            }
          }
          > button.nav-main__tree-toggle {
            background:#474747;
            @media screen and (min-width: 991px) {
              background:none;
            }
            .nav-main__tree-caret {
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
            &:hover {
              background:#000;
            }
          }
        }   
      }      
      &.has-dropdown {
        a {
          &.nav-main__tree-link{
            @media screen and (min-width: 991px) {
              padding-right:3.5em;
            }
          }
        }
        .is-current {
          background:#000;
        }  
      }
      a.nav-main__tree-link {
        color:#ffffff;
        text-transform:uppercase;
        font-weight:700;
        text-align:center;
        padding:1em 2em;
        display:block;
        text-align:left;
        text-decoration:none;
        &:focus {
          color:#ffba00;
          background:#252525;
        }
        &:hover {
          color:#ffba00;
          background:#252525;
        }
        @media screen and (min-width: 991px) {
          white-space:nowrap;
        }
      }
    }
    @media screen and (min-width: 991px) {
      transition: transform .2s;
      transform-origin:left;
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      left:0px;
      position:relative;
      top:0;
      padding-top:0;
      -webkit-flex-direction:row;
      flex-direction:row;     
      li {
        display:inline-block;
        ul {
          position:absolute;
          height:0;
        }
        &:hover > ul {
          height:auto;
          display:block;
        }
        &.is-expanded ul.nav-main__tree-level2 {
          height:100%;
          display:block;
          li {
            &:hover > ul {
              height:auto;
              display:block;
            }
            &.is-expanded ul.nav-main__tree-level3 {
              height:auto;
              display:block;
              padding:0;
              ul {
                position:absolute;
                left:100%;
                top:0;
                margin:0;
                li {
                  position:relative;
                  right:0;
                  background:#252525;
                  display:block;
                  border-top: solid 1px rgba(255,255,255,.2);
                  &:hover {
                    background:#000;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .nav-main__tree-level2 {
    padding:0px;
    position:relative;
    li {
      &.nav-main__tree-item {
        position:relative;
        background:#474747;
        display:block;
        border-top: solid 1px rgba(255,255,255,.2);
        a {
          &.nav-main__tree-link {
            text-transform:none;
          }
        }
        &:hover {
          background:#000;
          button {
            .nav-main__tree-caret {
              @media screen and (min-width: 991px) {
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
              }
            }
          }   
          ul {
            @media screen and (min-width: 991px) {
              left:100%;
              top:0;
              display:block;
            }   
          }
        }
        button {
          &.nav-main__tree-toggle {
            @media screen and (min-width: 991px) {
              background:none;
            }
            &:before {
              content: '';
              display:block;
              position:absolute;
              width:1px;
              height:80%;
              top:10%;
              left:0;
              background: rgba(255, 255, 255, 0.2);
            }
          }
          &:hover {
            background: #dfdfdf;
          }
        }
        &.is-current {
          > a {
            &:before {
              content: '';
              display:block;
              position:absolute;
              left:0em;
              top:0em;
              height:100%;
              width:.5em;
              background:#fdb92c;
            }
          }
        }
        &.has-dropdown {
          a {
            @media screen and (min-width: 991px) {
              &.nav-main__tree-link{
                padding-right:3.5em;
              }
            }
          }
        }
        ul {
          @media screen and (min-width: 991px) {
            background:#000000;
            display:none;
          }   
        }
        &.is-expanded {
          background:#000;
          ul {
            @media screen and (min-width: 991px) {
              left:100%;
              top:0;
              display:none;
            }   
          }
          &:hover {
            ul {
            @media screen and (min-width: 991px) {
              display:block;
            }   
            }
          }
          button {
            &.nav-main__tree-toggle {
              background:#dfdfdf;
              &:hover {
                .nav-main__tree-caret {
                  border-left: 2px solid #fdb92c;
                  border-bottom: 2px solid #fdb92c;
                }
              }
              .nav-main__tree-caret {
                border-left: 2px solid #000;
                border-bottom: 2px solid #000;
                &:hover {
                  background:#dfdfdf;
                }
              }
              @media screen and (min-width: 991px) {
                background:none;
                .nav-main__tree-caret {
                  border-left: 2px solid #fff;
                  border-bottom: 2px solid #fff;
                  @media screen and (min-width: 991px) {
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                  }
                }
              }             
            }
          }
          a.nav-main__tree-link {
            &:hover {
              background:none;
            }
          }
        }
      }
    }
  }
  .nav-main__tree-level3 {
    padding:0;
    li {
      &.nav-main__tree-item {
        background:#dfdfdf;
        border:none;
        border-bottom:1px solid #000000;
        a {
          color:#000;
          border:none;
          &:hover {
            background:#dfdfdf;
            text-decoration:underline;
            color:#000000;
            @media screen and (min-width: 991px) {
              color:#ffffff;
              background:#000000;
            }
          }
        }
        &:hover {
          background:#dfdfdf;
           @media screen and (min-width: 991px) {
            color:#ffffff;
            background:#000000;
          }
        }
        &.is-current {
          background:#dfdfdf;
          padding-left: 1em;
          a {
            border:0;
            &:before {
              content: '»';
              display:block;
              position:absolute;
              left:2em;
              top:1em;
              background:none;
            }
          }
        }
      }
      @media screen and (min-width: 991px) {
        &.nav-main__tree-item {
          background:#000;
          a {
            color:#ffffff;
          }
          &.is-current {
            background:#000000;
            padding-left: 1em;
            a {
              border:0;
              &:before {
                content: '»';
                display:block;
                position:absolute;
                left:2em;
                top:1em;
                background:none;
              }
            }
          }
        }
      }
    }
  }
}

/* Menu Icon states based on menu .show-menu */
body {
  &:before {
    transition: transform .2s;
    transform-origin:left;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    content:'';
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    z-index:99;
    top:0px;
    @media screen and (min-width: 991px) {
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
    }
  }
  &.show-menu {
    button {
      &.nav-utility__toggle {
        z-index:-1;
      }
    }
    ul.nav-main__tree-level1 {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
    }
    &:before {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      @media screen and (min-width: 991px) {
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
      }
    }
    .nav-main {
      .nav-main__toggle-icon {
        color:#ffffff;
        span {
          background:#fff;
          &:nth-child(1) {
            width: 0%;
            left: 50%;
          }
          &:nth-child(2) {
            top: .375em;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            top: .375em;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            width: 0%;
            left: 50%;
          }
        }
      }
    }
  }
}

/*-------------*/
/* End of file */