.content-primary, 
.news-article__fulltext, 
.news-article, 
.event__fulltext,
.event-details,
.person-details {
  padding:0 2em 2em 2em;
  .l-wrapper {
    margin:auto;
  }
  iframe {
    min-height: 30em;
  }
  img {
    max-width:100%;
  }
	
  ul {
    margin: 0.5em 0;
    li {
      line-height: 1.6em;
      margin-bottom: 0.4em;
    }
  }
  ol {
    margin: 0.5em 0;
    li {
      line-height: 1.6em;
      margin-bottom: 0.4em;
    }
  }
  hr {
    margin: 3em 0;
  }
  figure {
    margin:0;
  }
  pre {
    display: block;
    padding: 0;
    font-size: 1em;
    background: none;
    border: none;
  }
  textarea {
    width: 100%;
  }
  form {
    label {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.2em;
      @media (min-width: 768px) {
        width: 25%;
      }
    }
    input {
      &[type="checkbox"]{
        width: auto;
      }
      &[type="radio"]{
        width: auto;
      }
      &[type="select"]{
        width: auto;
      }
      &[type="text"]{
        width: 100%;
        display: inline-block;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #ccc;
        @media (min-width: 768px) {
          width: 70%;
        }
      }
      &[type="search"]{
        width: 100%;
        display: inline-block;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #ccc;
        @media (min-width: 768px) {
          width: 70%;
        }
      }
      &[type="password"]{
        width: 100%;
        display: inline-block;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #ccc;
        @media (min-width: 768px) {
          width: 70%;
        }
      }
      &[type="url"]{
        width: 100%;
        display: inline-block;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #ccc;
        @media (min-width: 768px) {
          width: 70%;
        }
      }
      &[type="tel"]{
        width: 100%;
        display: inline-block;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #ccc;
        @media (min-width: 768px) {
          width: 70%;
        }
      }
      &[type="number"]{
        width: 100%;
        display: inline-block;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #ccc;
        @media (min-width: 768px) {
          width: 70%;
        }
      }
      &[type="email"]{
        width: 100%;
        display: inline-block;
        padding: 0.5em;
        font-size: 1em;
        border: 1px solid #ccc;
        @media (min-width: 768px) {
          width: 70%;
        }
      }
    }
  }
  fieldset {
    padding: 1em;
    margin: 2em 0 0 0;
  }
  iframe {
    width:100%;
  }
  code {
    background: #dfefff;
    padding: 2.4em 2em 1.5em 2em;
    display: flex;
    border-radius: 1em;
    position: relative;
    margin: 1.5em 0;
    word-break:break-all;
    -ms-word-break: break-all;
    font-size: .8em;
    line-height: 1.5em;
    border-radius: 0.5em;
    border: 1px solid #93c8ff;
    &:before {
      content: "Code";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-size: 0.95em;
      padding: 0.6em 1em;
      border-radius: 1em 1em 0 0;
      right: 0;
      color: #000;
      font-weight: 700;
      text-transform: uppercase;
      background: none;
    }
    br {
      line-height:2em;
    }
  }
  
  input {
    &[type="submit"] {
      color: #000;
      border-bottom: none;
      font-size: 16px;
      font-family: Roboto,arial,sans-serif;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      background: #fff;
      border: 1px solid #d43900;
      padding: .7em 1.5em;
      border-radius: 30px;
      display: block;
      margin: 0 0 1em;
      transition: all .3s ease-in-out;
      cursor: pointer;
      display: block;
      width: 100%;
      &:hover {
        background: #d43900;
        color: #fff;
        border-color: transparent;
      }
      @media (min-width: 768px) {
        display: inline-block;
        width: auto;
      }
    }
    &[type="button"] {
      color: #000;
      border-bottom: none;
      font-size: 16px;
      font-family: Roboto,arial,sans-serif;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      background: #fff;
      border: 1px solid #d43900;
      padding: .7em 1.5em;
      border-radius: 30px;
      display: block;
      margin: 0 0 1em;
      transition: all .3s ease-in-out;
      cursor: pointer;
      display: block;
      width: 100%;
      &:hover {
        background: #d43900;
        color: #fff;
        border-color: transparent;
      }
      @media (min-width: 768px) {
        display: inline-block;
        width: auto;
      }
    }
    &[type="reset"] {
      color: #000;
      border-bottom: none;
      font-size: 16px;
      font-family: Roboto,arial,sans-serif;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      background: #fff;
      border: 1px solid #d43900;
      padding: .7em 1.5em;
      border-radius: 30px;
      display: block;
      margin: 0 0 1em;
      transition: all .3s ease-in-out;
      cursor: pointer;
      display: block;
      width: 100%;
      &:hover {
        background: #d43900;
        color: #fff;
        border-color: transparent;
      }
      @media (min-width: 768px) {
        display: inline-block;
        width: auto;
      }
    }
    &[type="disabled"] {
      color: #868686;
      border-bottom: none;
      font-size: 16px;
      font-family: Roboto,arial,sans-serif;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      background: #eaeaea;
      border: 1px solid #868686;
      padding: .7em 1.5em;
      border-radius: 30px;
      display: block;
      margin: 0 0 1em;
      transition: all .3s ease-in-out;
      cursor: pointer;
      display: block;
      width: 100%;
      &:hover {
        background: #eaeaea;
        color: #868686;
        border-color: #868686;
      }
      @media (min-width: 768px) {
        display: inline-block;
        width: auto;
      }
    }
  }
  table {
    border:1px solid #ababab;
    padding: 2em;
    width: 100%;
    caption {
      font-weight: 700;
      color: #000000;
      padding: .5em 0 1em 0;
    }
    tr:nth-child(even) {
      background:#ffffff;
      border-bottom: 1px solid #ababab;
    }
    tr:nth-child(odd) {
      background:#efefef;
      border-bottom: 1px solid #ababab;
    }
    thead {
      tr {
        background: #d2d2d2;
      }
    }
    td {
      padding: 0.8em;
      text-align: center;
    }
    th {
      padding: 0.8em;
      text-align:center;
    }
    @media (min-width: 768px) {
      padding:2em;
    }
  }
}

/*-------------*/
/* End of file */