
/* Header 
-----------------------------------*/
.hgroup .page-header__site-name {
  padding: 1.2em 1em;
}

.hgroup .page-header__site-name h1 {
  font-family: Roboto, sans-serif;
}

.hgroup .page-header__site-name h2 {
  font-size: 2em;
}

.hgroup .page-header__site-name h1.page-header__site-title-only {
  font-size: 2em;
}

.panel-group .panel-default .panel-heading .panel-title button {
  border-radius: 0;
  padding: 1em;
}

.panel-group .panel-default .panel-heading .panel-title button:hover {
  color: #80225F;
}