 /* Home - Hero
-----------------------------------*/
body#ws-88953 section.image-object .image-object__text {
  background: #fff;
  color: $font-color;
  padding: 3em;
  margin-bottom: 0.75em;
  position: relative;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.36);

  h2 {
    color: #80225F;
    font-size: 2.75rem;
    font-family: $font-stack-serif;
    margin: 0;
  }

  p:first-child {
    color: rgba(0, 0, 0, 0.6);
    padding: 0 0 0.25em;
    font-family: $font-stack-serif;
  }

  a {
    background: $purple;
    color: $white;
  }

  img {
    display: block;
    max-width: 100%;
  }

  @media (min-width:768px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 7%;
    bottom: auto;
    width: 100%;
    max-width: 56em;
    margin: 0 auto;
  }
}

body#ws-88953 section.image-object img {
  border-top-right-radius: 30px;
}

body#ws-88953 .image-object__image {
  background: #f1f1f1;
}

/* Hero button */

body#ws-88953 .image-object__text .t4_button,
body#ws-88953 .image-object__text .t4_button:hover {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

body#ws-88953 .image-object__text .t4_button a {
  background: #80225F;
  color: #fff;
  display: block;
  margin: 0;
  box-shadow: none;
  border-radius: 24px;
  border: 3px solid #DDDDDD;
  text-transform: uppercase;
  transition: 0.3s all ease;

  &:hover {
    background: darken(#80225F, 4%);
    border: 3px solid #DDDDDD;
    border-radius: 24px;
  }
}

.site-logo {
  margin-right: 1em;

  img {
    max-width: 240px;
  }
}

body#ws-88953 .image-object:first-of-type {
  border-bottom: 13px solid #6F5B87;
}

body#ws-88953 .image-object__text {
  
  @media(min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.page-main .content-primary__content:last-child {
  margin-bottom: 0;
}

.page-main .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 2.5em;
}

.page-main .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 1px;
}


/* Home - Intro / Announcements
-----------------------------------*/
.page-main .home-intro {
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 2em;

  p {
    font-weight: 300;
  }

  img {
    display: block;
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 1em;
  }

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: span 3;
    border-bottom: 1px solid rgba(0,0,0,0.27);
    border-right: 1px solid rgba(0,0,0,0.27);
  }
}

.home-intro .content-primary__content {
  margin-bottom: 0;
  padding-right: 1.5em;

  p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.page-main .home-announcements {
  padding: 2em 3em;

  h2 {
    margin-top: 0.5em;
    line-height: 1;
  }

  .content-primary__content {
    padding-right: 1.5em;
  }

  .content-primary__content div {
    margin-top: 2em;
    padding: 1.5em;
    box-shadow: 0px 0px 10px rgba(35, 39, 43, 0.198483);
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0;
  }

  p, li {
    font-size: 0.95rem;
  }

  ul {
    margin: 1em;
    padding: 0;
  }

  a {
    color: #C99100;
    font-size: 0.95rem;
    text-transform: uppercase;
    border-bottom: none;

    &:hover {
      border-bottom: 1px solid #C99100;
    }
  }

  @media (min-width: 768px) {
    grid-column-start: 4;
    grid-column-end: span 2;
    border-bottom: 1px solid rgba(0,0,0,0.27);
  }
}

section[aria-label='GEHLI home'] {
  grid-column-start: 1;
  grid-column-end: span 3;
}

/* Home - Programs
-----------------------------------*/
.program-cards-wrapper {

  @media(min-width:768px) {
    width:95%;
    margin: 0 auto;
    grid-column: 1 / span 5;
  }

  .content-primary__content h2 {
    margin-bottom: 0;
    margin-left: 3.45em;
  }
}

.program-cards {
  background: #F1F3F4;
  padding: 2.5em;
  margin: 2.5em auto;
  border: 10px solid #FFFFFF;
  border-radius: 0px 60px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.157343), 0px 2px 4px rgba(0, 0, 0, 0.5);

  @media(min-width: 768px) {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.program-cards header {
  width: 100%;
}

.page-main .program-card {
  width: 100%;
  background: #fff;
  padding: 2em;
  margin-bottom: 3em;
  margin-right: 3em;
  border-radius: 8px;
  border-bottom: 10px solid #F8B300;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.27);
  
  .content-primary__content {

    margin-bottom: 0;
  }

  h2 {
    margin: 0.5em 0;
    line-height: 1;
  }

  &:nth-child(odd) {
    margin-right: 0;
  }

  &:nth-of-type(2),
  &:nth-of-type(2) h2 {
   border-color: #673289;
  }

  &:nth-of-type(3),
  &:nth-of-type(3) h2 {
    border-color: #005797;
  }

  &:nth-of-type(4),
  &:nth-of-type(4) h2 {
    border-color: #609640;
  }

  @media (min-width:768px) {
    width: 45%;
  }
}

.program-card .t4_button {
  margin-top: 1em;
  margin-bottom: 0;

  a {
    margin: 0;
    padding: 0;

    &:focus {
      background: none;
    }
  }
}

/* Home - Social 
-----------------------------------*/
section[aria-label="Image - Featured image"] {
  padding: 2.25em;

  img {
    background: #D8D8D8;
    border-radius: 5px;
  }

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}

.twitter-wrapper {
  display: block;
  position: relative;
  padding-top: 25px;
  height: 100%;
  margin-right: 2.5em;
  grid-column-start: 4;
  grid-column-end: span 2;
}

.twitter-wrapper iframe {
  font-size: 1em !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.twitter-timeline {
  border: none !important;
}
