
$purple: #80225F;
$grey: #cccccc;
$white: #ffffff;

/* Nav
-----------------------------------*/

.page-main nav {
  grid-row: 1 / 3;
}

.nav-main .nav-main__tree-level1 {
  background: #454545;
}

nav#nav-main.nav-main {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #454545;
  z-index: 5;
}

.nav-main .nav-main__tree-level2 li.nav-main__tree-item a.nav-main__tree-link {
  border-right: none;
}

.nav-main .nav-main__tree-level2 li a.nav-main__tree-link {
  border-right: none;
}

.nav-main .nav-main__tree-level2 li.nav-main__tree-item:first-of-type,
.nav-main .nav-main__tree-level2 li.nav-main__tree-item:first-of-type a:hover {
  border-top-right-radius: 10px;
  border-left: none;
  border-right: none;
}

.nav-main .nav-main__tree-level2 li.nav-main__tree-item:last-of-type {
  border-bottom-left-radius: 10px;
}


/* Sub nav
-----------------------------------*/

.nav-sub {
  display: none;

  @media(min-width: 991px) {
    display: block;
  }
}

/* Level 1*/

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current {
  background: $white;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current > a {
  background: $white;
  color: $purple;

  &:hover,
  &:focus {
    background: $white;
    color: $purple;
  }

  &::before {
    background: $purple;
  }
}

.nav-sub .nav-main__tree-level2 li a.nav-main__tree-link:hover {
  color: #fff;
}

.nav-sub .nav-main__tree-level1 li a.nav-main__tree-link:focus, 
.nav-sub .nav-sub__tree-level1 li a.nav-main__tree-link:focus {
  color: #212121;
  background: $white;
  border-left-color: $purple;
}

.nav-sub .nav-main__tree-level2 li a.nav-main__tree-link:active {
  background: none;
}


/* Level 3 */

.nav-sub .nav-main__tree-level3 li.nav-main__tree-item {
  background-color: $white;

  &:hover {
    background-color: $white;
  }
}

.nav-sub .nav-main__tree-level3 li a.nav-main__tree-link {
  color: rgba(0,0,0, 0.6) !important;
  font-weight: 400;
  text-transform: none;

  &::before {
    background: none !important;
  }
}


.nav-sub .nav-main__tree-level3 li.nav-main__tree-item {
  border-right: none;
}

.nav-sub .nav-main__tree-level3 li.nav-main__tree-item:hover
.nav-sub .nav-main__tree-level3 li.nav-main__tree-item a:hover {
  background: none;
  border-left: none;
}

.nav-sub .nav-main__tree-level3 li.nav-main__tree-item.is-current a:before {
  background: transparent;
  color: rgba(0,0,0,.6)
}

/* Caret */

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current.is-expanded button.nav-main__tree-toggle {
  background: #fff;
  border-bottom: 1px solid #efefef;
}

.nav-sub .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle:hover, .nav-sub .nav-main__tree-level1 li.nav-main__tree-item.is-expanded > button.nav-main__tree-toggle:hover {
  background: none;
}

.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current.is-expanded button.nav-main__tree-toggle .nav-main__tree-caret, 
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current.is-expanded button.nav-main__tree-toggle:focus .nav-main__tree-caret, .nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current button.nav-main__tree-toggle .nav-main__tree-caret, 
.nav-sub .nav-main__tree-level2 li.nav-main__tree-item.is-current button.nav-main__tree-toggle:focus .nav-main__tree-caret {
  border-left-color: #212121;
  border-bottom-color: #212121;
}

.nav-sub .nav-main__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle, .nav-sub .nav-sub__tree-level1 li.nav-main__tree-item button.nav-main__tree-toggle {
  box-shadow: none !important;
  padding: 1.5em 1em 1.72em;
}

