
/* Person
-----------------------------------*/
.l-persons {
  padding-bottom: 2em;
}

.l-persons .l-gutter {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.person {
  width: 100%;
  height: 100%;
  border: 1px solid #E8E8E8;
  border-radius: .65em;
  margin: 0 2em 2em;

  &:first-of-type:not(.l-fulltext) {
    padding-top: 0%;
  }

  &:not(.l-fulltext) {
    margin-bottom: 3%;
  } 

  .l-gutter {
    height: 100%;
    display: block;
  }

  .l-wrapper {
    height: 100%;
  }

  @media(min-width: 1280px) {
    width: 40%;
  }
}

.person .person__name {
  font-family: Merriweather, serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0;
}

.person .person__jobTitle {
  font-family: Merriweather, serif;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 1.5;

  span {
    display: none;
  }
}

.person .person-details {
  border-radius: .65em;
  border: 3px solid #FFF;
  background: #f1f3f4;
  padding-left: 3em;
  padding-right: 3em;

  img {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: .275em solid #fff;
  }

  a, button {
    text-decoration: none;
  }
}

.person .person-details {
  padding-left: 2em;
  padding-right: 2em;
}

.person .person__disambiguatingDescription  {
  display: none;
}

.person .event__fulltext-link {
  margin-top: 1em;

  button {
    background: #80225F;
    color: #ffffff;
    display: block;
    margin: 0;
    box-shadow: none;
    border-radius: 24px;
    border: 3px solid #DDDDDD;
    text-transform: uppercase;
    transition: 0.3s all ease;

    &:hover {
      background: darken(#80225F, 4%);
      border: 3px solid #DDDDDD;
    }
  }

  a {
    color: #fff;
    transition: 0.3s all ease;
  }

  a:link {
    border: none;
  }
}

/* Faculty & staff page
-----------------------------------*/
section[aria-label="Faculty & Staff"] {
  padding-bottom: 0;

  .content-primary__content:last-child {
    margin-bottom: 0;
  }
}
