
/* Review / Testimonial
-----------------------------------*/
section.review {
  background: #EFF1F3;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0px 30px;
  border: 4px solid #BABED0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 2em 2em 4em 2em;
  padding: 2.25em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: span 5;
  }
}

section.review blockquote p {
  color: rgba(0, 0, 0, 0.67);
  font-family: Merriweather, serif;
  font-size: 1em;

  &::before {
    color: #80225F;
    left: -.75em;
  }
}

section.review .review__image {
  border-top-right-radius: 30px;
}

section.review blockquote a:link,
section.review blockquote a:visited {
  color: #275E37;
}

section.review blockquote *:last-child {
  border-bottom: 1px solid #CCDBAE;
}

section.review blockquote .review__reviewAspect {
  display: none;
}

section.review cite .review__author-givenName {
  color: rgba(0, 0, 0, 0.6);
}


